<a href="https://colab.research.google.com/github/AakifAsharKhan/machine-learning/blob/main/iris_data_set_with_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('iris-dataset-missing-values.xlsx', header=None, names=['SL','SW','PL','PW','FC'])

In [ ]:
df.head()

    SL   SW   PL   PW           FC
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  NaN  0.2  Iris-setosa
3  4.6  NaN  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
df.isnull().sum()

SL    5
SW    6
PL    6
PW    0
FC    0
dtype: int64

In [ ]:
df['SL'] = df['SL'].fillna(df['SL'].mean())
df['SW'] = df['SW'].fillna(df['SW'].mean())
df['PL'] = df['PL'].fillna(df['PL'].mean())

In [ ]:
df.isnull().sum()

SL    0
SW    0
PL    0
PW    0
FC    0
dtype: int64

In [ ]:
y = df['FC']
df.drop(['FC'], axis =1,inplace = True)
x = df.values

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression(solver = 'liblinear')

In [ ]:
lr.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
lr.predict([[3.2,4.5,2.8,5]])

array(['Iris-virginica'], dtype=object)